*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Fredoka', sans-serif;
}

/* HEADER */
header{
    height: 100px;
    width: 100%;
}

header .container-1{
    margin: 0 auto;
    width: 76%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    line-height: 100px;
    min-width: 900px;
}

.container-1 #nav-left{
    font-size: 1.4em;
    font-weight: bolder;
    color: blue;
}

.container-1 #nav-right{
    font-size: 1.2em;
}

#nav-right label{
    margin-right: 5px;
}

#nav-right select{
    width: 150px;
    padding: 7px 0px;
    text-align: center;
    font-size: 0.9em;
    color: blue;
}

#nav-right button{
    padding: 8px 30px;
    border-radius: 50px;
    font-size: 0.8em;
    margin-left: 8px;
    border: 2px solid red;
    background-color: lightgray;
    color: red;
}

/* MAIN */
main{
    height: 1200px;
    background-color: aquamarine;
    position: relative;
}

#points{
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translate(-50%, -8%);
    font-size: 1.9em;
}

#grid{
    margin: 0 auto;
    width: 800px;
    height: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#grid .square-1{
    border: 2px solid black;
    width: calc(100% / 10);
    height: calc(100% / 10);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

#grid .square-2{
    border: 2px solid black;
    width: calc(100% / 9);
    height: calc(100% / 9);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

#grid .square-3{
    border: 2px solid black;
    width: calc(100% / 7);
    height: calc(100% / 7);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
}

#grid .cliccato{
    background-color: rgb(68, 68, 160);
    color: white;
}

#grid .bomba{
    background-color: red;
    color: white;
}

/* FOOTER */
footer{
    height: 80px;
}

footer .container-footer{
    margin: 0 auto;
    width: 76%;
    height: 100%;
    display: flex;
    line-height: 100px;
    min-width: 900px;
    font-size: 1.3em;
}